.form-container {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 0 0;
    position: relative;
    margin-bottom: 30px;

}
.form-container .form-icon {
    color: #fff;
    background-color: #1E4AC5;
    font-size: 50px;
    text-align: center;
    line-height: 95px;
    height: 100px;
    width: 100px;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #20E4B2, 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);
    position: absolute;
    top: 2px;
    left: 50%;
    z-index: 1;
}
.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 30px;
}
.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(50vh - 50px);
    padding-top: 50px
}
.form-container .form-horizontal {
    background-color: #2048C4;
    font-size: 0;
    padding: 120px 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    width: 650px;
}
.form-container .title {
    color: #20E5B0;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 25px;
}
.form-horizontal .form-group {
    background-color: #fff;
    width: 100%;
    margin: 0 0 25px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}
.form-horizontal .form-group small {
    color: #fff;
    background-color: transparent;
}
.form-horizontal .input-icon {
    color: rgba(0, 0, 0, 0.3);
    background-color: #20E5B0;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 48px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control {
    color: #222;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    width: calc(100% - 53px);
    height: 30px;
    padding: 1px 10px 0 7px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal textarea.form-control {
    height: auto;
    width: 100%;
}
.form-horizontal .form-control:focus {
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder {
    color: #b5b5b5;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.footer {
    background-color: #2ecc71;
    padding: 10px;
    text-align: center;
}
.form-horizontal .btn {
    color: #fff;
    background-color: #20E5B0;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px 7px 20px;
    margin: 15px auto 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.5);
    display: block;
    transition: all 0.3s ease 0s;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
    color: #2048C4;
    background-color: #fff;
    box-shadow: none;
}
.field-description {
    color: #20E5B0;
    font-size: 14px;
    margin-top: 0px;
}
.custom-form-group {
    margin-bottom: -10px;
}
.additional-text {
    font-size: 17px;
    color: #fff;
    background-color: transparent;
    margin-bottom: 5px;
    font-weight: 500;
}
.user-signup {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 576px) {
    .form-container .form-horizontal {
        width: calc(100% - 40px);
        max-width: 100%;
        padding: 20px 20px 20px;
        box-sizing: border-box;
    }
     .form-horizontal {
        padding: 20px 20px;
    }

    .form-container .title {
        font-size: 18px;
        margin-top: 60px;
    }
    .additional-text {
        margin-top: 12px;
        margin-bottom: -8px;
    }
    .form-container .form-icon {
        font-size: 30px;
        line-height: 60px;
        height: 60px;
        width: 60px;
    }

    .form-horizontal .form-group {
        margin: 10px 0;
    }

    .form-horizontal .input-icon {
        font-size: 20px;
        line-height: 28px;
        height: 28px;
        width: 48px;
    }

    .form-horizontal .form-control {
        font-size: 16px;
        height: 28px;
    }

    .form-horizontal select.form-control {
        height: 28px;
    }
    .user-signup {
      display: block;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .page-container {
       padding-top: 25px;

    }
    .centered-container {
        padding-top: 10px;
    }
    .form-horizontal .btn {
        margin: 15px auto 10px;
    }

    .form-horizontal .btn-back {
        display: block;
        margin: 10px auto;
    }

    .form-horizontal .form-control::placeholder {
        font-size: 16px;
    }
}
